$screen_xs_max: 767px;
$screen_sm_min: 768px;
$screen_sm_max: 991px;
$screen_md_min: 992px;
$screen_md_max: 1199px;
$screen_lg_min: 1200px;


// buttons, header panel
$c_orange_1: #ea8c02;
$c_black: #000000;
// buttons
$c_black_1: #313131;
// font
$c_black_2: #040505;
$c_gray_1: #898989;
